.item {
  display: flex;
  margin-left: -40px;
  flex-direction: row;
  justify-content: space-between;

  .text {
    display: block;
  }

  .checkbox {
    display: block;
  }

  .button {
    display: block;
  }
}