@import '../../node_modules/normalize-css/normalize.css';
@import 'base.css';
@import '../app/components/Counter/Counter.css';
@lost flexbox flex;


$counter-border-radius: 0.25em;

.container-counter {
  width: 100%;
  height: 100%;
  background: #656C74;
  lost-align: center;
  background: linear-gradient(90deg, #348AC7 10%, #5ADAFD 90%);
  .counter {
    width: 40%;
    height: 80%;

    .screen {
      height: 30%;
      background: #F2F2F2;
      lost-align: center;
      border-top-left-radius: $counter-border-radius;
      border-top-right-radius: $counter-border-radius;;
      h4 {
        margin: 0;
        padding: 0;
      }
    }

    .body {
      height: 70%;
      background: white;
      border-bottom-left-radius: $counter-border-radius;;
      border-bottom-right-radius: $counter-border-radius;;
    }
  }
}
